*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, sans-serif;
}

input[type=number], input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

ul {
    list-style-type: none;
}